
.add-item{
  flex: items center;
  margin-top: 4px;
}

.button-item{
    width: 22px;
    height: 22px;
    background-color: purple;
    border-radius: 4px;
    text-decoration: white;
}

.input-item{
    width: 22px;
    height: 100px;
    flex: 1 1 0%;
    padding: 8px 12px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.15s ease-in-out;
}
