# Dependencies
node_modules/

# Build outputs
dist/
build/

coverage/
*.log

# Capacitor
.capacitor/

# Platform specific (opcional - você pode versionar estes)
android/app/build/
ios/App/build/

# IDE
.vscode/
.idea/

# Database info
*.env
auth-api/logindb/

# SO
.DS_Store
Thumbs.db