name: CI

on:
  push:
  pull_request:
    branches: [main]

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      # ---------------------------
      # FRONTEND
      # ---------------------------
      - name: Install frontend dependencies
        run: CI=false npm ci
        working-directory: saude_e_bem_estar

      - name: Build frontend
        env:
          CI: false
        run: npm run build
        working-directory: saude_e_bem_estar


      - name: Run frontend tests
        run: CI=false npm test
        working-directory: saude_e_bem_estar